*{
    font-size: 13px;
    font-family: "source sans pro" , sans-serif;
}

html, body {
    margin: 0 auto;
    padding: 0;
    background-color: #ffffff
    
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #f1f1f1;
    height: 100%;
}
/*top bar*/
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #C6C6C6;
    background-color: #ffffff;
    height: 67px;  
    width: 375px;  
}

.user{
    border-radius: 250px;
    max-width: 500px;
    height: 34px;
    margin: 20px;
}

.logo{
    border-radius: 250px;
    width: 127px;
    margin: 20px;
}

/*first card*/  

.profile{
    display: flex;
    align-items: center;
    background-color: #ffffff;
    width: 375px;  
    
}
.poster{
    height: 34px;
    border-radius: 250px;
    margin-left: 20px;
}
.span1{
    display: block;
    font-weight: 300;
    font-size: 12px;
}

h2{
    margin-left: 10px;

}

/*center*/

.centerpiece{
    width: 375px;
    height: 375px;
    margin:0px
}
.centerpiece:hover{
    cursor: pointer;
}

.image{
    width: 375px;
    height: 375px;
    margin:0px
}

/*bottom bar*/

.descriptionComments{
    background-color: #ffffff;
    height: 100px;  
    width: 375px;
    

}

.icons{
    width: 22px;
    height: 22px;
    margin-left: 10px;
    margin-right: -5px;
    padding-top: 10px;
}

.icons:hover{
    opacity: 0.5;
    cursor: pointer;
}   

.seperation{
    margin: 5px;
    background-color: red;
    color: rgb(red, green, blue);
}

span{
    font-weight: 300;
    font-size: 12px;
}

.likes{
    margin-top: 5px;
    margin-bottom: 5px;
}